* {
    outline: .5px solid red;
}

.blinker-light {
  font-family: "Blinker", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blinker-regular {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blinker-black {
  font-family: "Blinker", sans-serif;
  font-weight: 900;
  font-style: normal;
}


body {
    margin: 0;
    justify-content: center;
}

.nav-bar {
    background-color: #7de2d1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 150px 0 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.logo {
    width: 100px;
}

.options {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 0;
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #50504f;
    flex-shrink: 0;
}