* {
    outline: .5px solid red;
}

body {
    margin: 0;
}

.nav-bar {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.options {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}